GEMINI_API_KEY=

POSTGRES_DB=rag_db
POSTGRES_USER=rag_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=55432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@127.0.0.1:${POSTGRES_PORT}/${POSTGRES_DB}
